<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.1"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
    <tlib-version>1.0</tlib-version>
    <short-name>jsputils</short-name>
    <uri>/WEB-INF/tlds/jsputils</uri>
    <function>
        <name>ifContainsThenElse</name>
        <function-class>com.jamo.puzzle.JspUtils</function-class>
        <function-signature>
            String ifContainsThenElse(java.util.Set, java.lang.Object, java.lang.String, java.lang.String)
        </function-signature>
    </function>
</taglib>